/* Aplicando um reset padrão para garantir uma base limpa e consistente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definindo o fundo da página e o tamanho mínimo */
body {
  background-color: #f7f7f7;
  min-height: 100vh;
}

/* Definindo o estilo para o título principal */
h3 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  color: #222;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Estilizando o select para que ocupe todo o espaço disponível na página */
#listaContatos {
  display: block;
  width: 100%;
  max-width: 40rem;
  margin: 2rem auto;
  font-size: 1.25rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #fff;
  color: #222;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilizando as labels para que apareçam acima dos inputs */
label {
  display: block;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  color: #222;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Estilizando os inputs */
input[type="text"] {
  display: block;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem auto;
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #fff;
  color: #222;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilizando os botões */
input[type="button"] {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
  background-color: #008080;
  color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-right: 1rem;
}

input[type="button"]:hover {
  background-color: #006666;
  transform: scale(1.05);
}

input[type="button"]:active {
  background-color: #004d4d;
  transform: scale(0.95);
}

input[type="button"]:disabled {
  opacity: 0.5
}